@import "installButton";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.addon-box {
  align-items: center;
  background: #FFF;
  border-bottom: #C2C2C2 solid 1px;
  color: #555;
  display: flex;
  height: 100px;
  justify-content: space-around;
  width: 400px;
  a {
    color: #0051a2;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  strong {
    font-weight: normal;
    color: black;
    }
  & > div {
    height: 40%;
    align-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  h1, p {
    font-weight: normal;
    font-size: 1em;
    margin: auto;
    width: 100%;
  }
  .image-box {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 20%;
    img {
      cursor: pointer;
    }
    .info-image {
      cursor: auto;
      width: 50%;
    }
  }
  .inner-box-1 {
    width: 60%;
  }
  .inner-box-2 {
    align-items: flex-start;
    width: 20%;
  }
  .inner-box-close-button {
    align-items: flex-start;
    justify-content: center;
    width: 20%;
    div {
      font-size: 20px;
      padding: 0 6px;
      &:hover{
        background: #C2C2C2;
        color: white;
        cursor: pointer;
        border-radius: 15px;
      }
    }
  }
}

#welcome {
  height: 65px;
  padding: 5px 10px 20px;
  margin: 0;
  h1 {
    font-weight: normal;
    margin: 0;
  }
}

footer {
  display: flex;
  height: 40px;
  width: 100%;
  div {
    align-items: center;
    background: #F7F7F7;
    display: flex;
    height: inherit;
    justify-content: center;
    width: 50%;
  }
  div:hover,
  div.grayed {
    cursor: pointer;
    background: #E6E6E6;
  }
  div:first-child {
    border-right: #C2C2C2 solid 1px;
  }
}
