@import "installButton";

* {
  box-sizing: border-box;
}

body {
  background: #FFF;
  margin: 0;
}

a {
  color: #0051a2;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-weight: bold;
  color: black;
  font-size: 1em;
}

.addon-box,
.why-box {
  &.hidden {
    display: none;
  }
  align-items: center;
  border-bottom: #C2C2C2 solid 1px;
  color: #555;
  display: flex;
  height: 100px;
  padding: 20px 10px;
  width: 400px;
  & > div {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  .image-box {
    flex: 0 0 64px;
    img {
      cursor: pointer;
      margin: auto;
    }
    .info-image {
      cursor: auto;
      text-align: center;
      width: 48px;
    }
  }
  .inner-box-1 {
    flex: 1 1;
    overflow: hidden;
    max-height: 75px;
    h1, p {
      margin: 0;
      line-height: 15px;
    }
  .inner-box-2 {
    flex: 0 0;
  }
  }
  .inner-box-close-button {
    flex: 0 0;
    div {
      font-size: 20px;
      padding: 0 6px;
      &:hover{
        background: #C2C2C2;
        color: white;
        cursor: pointer;
        border-radius: 15px;
      }
    }
  }
}

.welcome {
  &.hidden {
    display: none;
  }
  align-items: center;
  border-bottom: #C2C2C2 solid 1px;
  display: flex;
  height: 70px;
  line-height: 15px;
  margin: 0;
  padding: 10px;
}

footer {
  display: flex;
  height: 40px;
  width: 100%;
  div {
    align-items: center;
    background: #F7F7F7;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  div:hover,
  div.grayed {
    cursor: pointer;
    background: #E6E6E6;
  }
  div:first-child {
    border-right: #C2C2C2 solid 1px;
  }
}
