@import "installButton";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.addon-box {
  align-items: center;
  background: #FFFFFF;
  border-bottom: #C2C2C2 solid 1px;
  color: #C2C2C2;
  display: flex;
  height: 100px;
  justify-content: space-around;
  width: 400px;
  a {
    color: lightblue;
    text-decoration: none;
  }
  strong {
    font-weight: normal;
    color: black;
    }
  & > div {
    height: 40%;
    align-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  h2, h3 {
    font-weight: normal;
    margin: auto;
    width: 100%;
  }
  .image-box {
    width: 10%;
    img {
      cursor: pointer;
      display: block;
      margin: auto;
    }
  }
  .image-box-info {
    width: 10%;
    img {
      display: block;
      margin: auto;
    }
  }
  .inner-box-1 {
    width: 60%;
  }
  .inner-box-2 {
    align-items: flex-start;
    width: 20%;
  }
  .inner-box-close-button {
    align-items: flex-start;
    justify-content: center;
    width: 20%;
    div {
      font-size: 20px;
      padding: 0 6px;
      &:hover{
        background: #C2C2C2;
        color: white;
        cursor: pointer;
        border-radius: 15px;
      }
    }
  }
}

#welcome {
  height: 65px;
  padding: 5px 10px 20px;
  margin: 0;
  h3 {
    font-weight: normal;
    margin: 0;
  }
}

footer {
  display: flex;
  height: 40px;
  width: 100%;
  div {
    align-items: center;
    background: #F7F7F7;
    display: flex;
    height: inherit;
    justify-content: center;
    width: 50%;
  }
  div:hover,
  div.grayed {
    cursor: pointer;
    background: #E6E6E6;
  }
  div:first-child {
    border-right: #C2C2C2 solid 1px;
  }
}
